* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.caja {
    background-color: aqua;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.caja label {
    font-size: 1rem;
    margin-top: 2%;

}

.caja input {
    padding: 3%;
    margin: 3%;
}

.btn {
    padding: 5%;
    color:white;
    background-color: green;
    border: 0;
    border-radius: 30px;
    margin-top: 5%;
}

h2 {
    margin-top: 10%;
    font-size: 1.2rem;
    text-align: center;
}